<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Final Exam</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

<body class="container">

<div style="text-align: center;">
    <h1> Final Exam Set B</h1>
    <h1> Sales Summary Table </h1>
</div>


<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <td>Salesman name</td>
        <td>Washing Machine</td>
        <td>Refrigerator</td>
        <td>Music System</td>
    </tr>
    </thead>
    <tr th:each="aggresale: ${aggreSales}">
        <td th:text="${aggresale.name}"></td>
        <td th:text="${aggresale.washingMachine}"></td>
        <td th:text="${aggresale.refrigerator}"></td>
        <td th:text="${aggresale.musicSystem}"></td>
    </tr>
</table>

<div>
    <div>
        <div style="background-color: lightblue; padding: 20px; text-align: center; display: flex; align-items: center; justify-content: space-around;">
            <form name='myForm' class="form-inline" th:action="@{/sales}" onsubmit="return validateForm()"
                  th:object="${sale}"
                  method="post">
                <label>Salesman Name</label>
                <input class="form-control" name="name" th:field="*{name}">

                <label for="item">Item Type</label>
                <select class="form-control" id="item" name="item" th:field="*{item}">
                    <option value="Washing Machine">Washing Machine</option>
                    <option value="Refrigerator">Refrigerator</option>
                    <option value="Music System">Music System</option>
                </select>

                <label for="amount">Sales Amount</label>
                <input class="form-control" type="number" id="amount" name="amount" th:field="*{amount}">

                <label>Transaction Date</label>
                <input type="date" id="dot" class="form-control"
                       th:field="*{dot}">
                </br>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>

        <div>
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <td>Transaction Code</td>
                    <td>Salesman</td>
                    <td>Item</td>
                    <td>Amount</td>
                    <td>Transaction Date</td>
                </tr>
                </thead>
                <tr th:each="s: ${sales}">
                    <td th:text="${s.id}"></td>
                    <td th:text="${s.name}"></td>
                    <td th:text="${s.item}"></td>
                    <td th:text="${s.amount}"></td>
                    <td th:text="${s.dot}"></td>

                    <td><a th:href="@{/sales/{id}(id=${s.id})}" onclick="return confirmDelete();" class="btn btn-danger">Delete</a></td>
                    <td><a th:href="@{/sales/edit/{id}(id=${s.id})}"  class="btn btn-success">Edit</a></td>

                </tr>
            </table>
        </div>
    </div>
</div>
</div>


<script>
    function validateForm() {
        let name = document.forms["myForm"]["name"].value;
        if (name == "") {
            alert("Name cannot be blank");
            return false;
        }

        let amount = document.forms["myForm"]["amount"].value;
        if (amount == "" || amount == '0') {
            alert("Amount cannot 0");
            return false;
        }
    }

    function confirmDelete() {
        var result = confirm("Are you sure you want to delete?");
        return result;
    }

</script>

</body>
</html>